<% breadcrumb :intro %>
<section id="sl_intro_index" class="col-12" data-controller="gallery">
	<article class="row">
		<div id="sl_intro_left" class="col-12 col-lg-6">
			<%=link_to image_tag('intro/large_thumb_sl.jpg',loading: 'lazy',:alt=>'잠자는사자'), asset_path('intro/sl.jpg'), :title=>'잠자는사자',"data-src": asset_path('intro/sl.jpg'),"data-fancybox": "gallery" %>
		</div>
		<div id="sl_intro_right" class="col-12 col-lg-6">
			<h3><%=t(:sl_intro_title) %></h3>
			<dl>
				<dt><%=t(:name) %></dt>
				<dd><%=raw t(:name_call) %></dd>
				<dt><%=t(:sex) %></dt>
				<dd><%=t(:male) %></dd>
				<dt><%=t(:birthday) %></dt>
				<dd><%=t(:sl_birthday) %></dd>
				<dt><%=t(:job) %></dt>
				<dd><%=t(:web_programer) %></dd>
				<dt><%=t(:height) %></dt>
				<dd>180cm</dd>
				<dt><%=t(:weight) %></dt>
				<dd>80kg</dd>
				<dt><%=t(:like) %></dt>
				<dd>
					개 , 아이들 , 철도 , 프로그래밍 , 리눅스 , 중국요리
				</dd>
				<dt><%=t(:hate) %></dt>
				<dd>

					자동차 , 학교 , 군대 , 윈도우 , 주한미군
        </dd>
        <dt>E-mail</dt>
        <dd><%=mail_to "admin@sleepinglion.pe.kr","admin@sleepinglion.pe.kr" %></dd>
        <dt>텔레그램</dt>
        <dd><%=link_to "@toughjjh","https://t.me/toughjjh" %></dd>
			</dl>
		</div>
	</article>
</section>
<% content_for :json_ld do %>
	<script type="application/ld+json">
		<%= raw(JSON.pretty_generate(json_ld_for_profile())) %>
	</script>
<% end %>