<footer class="border-top">
	<div class="container">
		<div class="row">
			<address class="col-12 col-lg-9">CopyLeft. 2012, SL. All wrongs reserved.&nbsp;&nbsp; <br class="visible-xs" />주소 : 아프리카 사자굴
				<a href="https://www.instagram.com/sleepinglion.pe.kr/" target="_blank"><img src="/images/icon/instagram.svg" height="22" width="30" alt="instagram" aria-label="sleepinglion`s instagram"></a>
			</address>
	<div class="col-12 col-lg-3 dropdown text-end">

			<%= link_to '#', { class: 'dropdown-toggle d-flex align-items-center gap-2',
												 role: "button",
												 'data-bs-toggle': "dropdown",
												 'aria-expanded': "false" } do %>
				<span><%=t(:theme) %></span>
				<span class="current-theme-icon"></span>
			<% end %>
		<ul class="dropdown-menu">
			<li>
				<button class="dropdown-item d-flex align-items-center gap-2" data-bs-theme-value="light">
					<span class="icon">☀️</span>
					<%=t(:light) %>
				</button>
			</li>
			<li>
				<button class="dropdown-item d-flex align-items-center gap-2" data-bs-theme-value="dark">
					<span class="icon">🌙</span>
					<%=t(:dark) %>
				</button>
			</li>
			<li>
				<button class="dropdown-item d-flex align-items-center gap-2" data-bs-theme-value="auto">
					<span class="icon">🌓</span>
					<%=t(:auto) %>
				</button>
			</li>
		</ul>
	</div>
		</div>
	</div>
</footer>
