<!DOCTYPE html>
<html lang="<%= I18n.locale %>" data-bs-theme="auto">
<head>
<meta charset="utf-8">
<%=display_meta_tags :site => t(:application_name),
	:title=>@title,
	:description => @meta_description,
	:keywords => @meta_keywords,
	:separator => t(:title_separator),
	:viewport => 'width=device-width, initial-scale=1, shrink-to-fit=no',
	:reverse => true %>
<%=display_meta_tags og: {
  	title:   @title,
  	description: @meta_description,
  	url:      t(:site_full_url),
  	image:    @meta_image
	} %>
<meta name="author" content="Sleeping-Lion">
<link rel="canonical" href="<%=t(:site_full_url) %>">
<link rel="alternate" type="application/rss+xml" title="Sleeping-Lion RSS Feed" href="<%= t(:site_full_url) %>/feed?format=rss">
	<%= stylesheet_link_tag "front/application", :media => "all", "data-turbolinks-track" => true %>
<%= favicon_link_tag 'favicon.ico' %>
<%= csrf_meta_tags %>
<%= csp_meta_tag -%>
</head>
<body itemscope itemtype="<%=@page_itemtype %>">
<%= render :partial => 'layouts/header' %>
<div id="mom">
	<div id="main" class="container">
		<% if current_page?(root_path) %>
			<div class="jumbotron hero-unit text-center p-5 rounded-4">
				<h2><%=raw t(:home_main_title) %></h2>
				<p class="lead"><%=raw t(:home_main_description) %></p>
				<p>이곳은 잠자는 사자의 개인홈페이지로 웹제작 문의는 <a href="https://www.jedaeroweb.co.kr" target="_blank">이곳</a>으로 해주세요</p>
			</div>
			<hr class="none">
			<% else %>
			<%= render 'layouts/page_header' %>
		<% end  %>
		<div class="row">
			<main <% if current_page?(root_path) %>id="main_main"<% end %> class="sub_main<% if session[:no_aside] %> col-12<% else %> col-12 col-xl-9<% end %>">
				<%= render 'layouts/ad' %>
				<%=yield %>
			</main>
			<%= render 'layouts/aside' %>
		</div>
	</div>
</div>
<%= render :partial => 'layouts/footer' %>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"></div>
<%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</body>
</html>
